body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    margin: 0;
    padding: 20px;
}

.contenedor {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 85%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.completada {
    background-color: lightgreen;
    text-decoration: line-through;
    color: gray;
}

.botonEliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.botonEliminar:hover {
    background-color: #c82333;
}

.tareaCompletada{
    background-color: #218838;
    font-size:1em;
}