body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 95%;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    transition: border-color 0.4s;
}

input[type="text"]:focus {
    border: 3px solid #53fd10;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
    cursor:pointer;
}

table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    border: 2px solid #007BFF;
    padding: 12px;
    text-align: center;
    color: black;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #f9f9f9;
}

td:hover {
    background-color: #34ff19;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #007BFF;
}